/* HOME PAGE CSS */
/* Hero Section*/
.hero-background {
  background: linear-gradient(
      360deg,
      rgba(18, 18, 18, 0.6) 0.91%,
      rgba(18, 18, 18, 0.28) 47.77%,
      rgba(39, 42, 55, 0.75) 99.52%
    ),
    url("../images/background.jpg");
  background-size: cover;
  height: 100vh;
  z-index: 222;
}
.hero-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 280px 0 30px;
}
.hero-heading {
  color: #fff;
  display: inline;
  font: var(--heading-font);
  font-size: 80px;
  line-height: 86px;
  font-weight: 700;
  letter-spacing: 0.01em;
  margin: 50px 0 0px;
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.hero-vertical-line {
  border-bottom: 3px solid white;
  margin: 30px 0 22px;
  width: 60px;
}
.hero-caption {
  color: #fff;
  font: var(--text-font);
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  width: 550px;
}

.container {
  width: 100%;
  padding: 110px 30px;
  margin-right: auto;
  margin-left: auto;
}
/*
 CTA Form
 */
.cta-form-wrapper {
  position: absolute;
  transform: translateY(-50%);
  margin: 0px 9%;
}
.cta-form-box {
  position: relative;
  z-index: 3;
  border-radius: 10px;
  background: white;
}
.cta-form-items {
  padding: 60px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 50px 30px -20px;
}
.cta-form-item {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
.form-item-heading {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 10px;
  width: 180px;
}
.form-item-input {
  width: 200px;
  border: none;
  outline: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  padding: 6px 0;
  min-height: 40px;
  border-radius: 0;
}
.form-item-input::placeholder {
  color: black;
}
.date-input {
  width: 200px;
}
.form-item-divider-line {
  height: 80px;
  border-left: 1px solid #e7e7e7;
  margin-left: 10px;
  margin-right: 30px;
}
.form-item-select-wrapper {
  position: relative;
  user-select: none;
}
.form-item-select {
  font-size: 18px;
  outline: none;
  border: none;
  width: 75px;
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
  border: none;
  outline: none;
  cursor: pointer;
  color: #000;
}
.form-item-select-trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  font-size: 20px;
  font-weight: 300;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
  cursor: pointer;
}

.item-select-options {
  position: absolute;
  display: block;
  top: 80%;
  left: 0;
  right: 0;
  background: #fff;
  transition: all 0s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  outline: none;
  border: none;
}
.form-item-select.open-option .item-select-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.item-select-option {
  position: relative;
  display: block;
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  color: #fff;
  background: #000;
  line-height: 25px;
  cursor: pointer;
  outline: none;
  border: none;
}
.item-select-option:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
}
.item-option-selected {
  color: #fff;
  background-color: #000;
}
.item-select-arrow {
  position: relative;
  height: 10px;
  width: 0;
}
.item-select-arrow::before,
.item-select-arrow::after {
  content: "";
  position: absolute;
  bottom: 20px;
  width: 0.15rem;
  height: 100%;
}
.item-select-arrow::before {
  left: 66px;
  transform: rotate(45deg);
  background-color: #515151;
}
.item-select-arrow::after {
  left: 60px;
  transform: rotate(-45deg);
  background-color: #515151;
}
.open-option .item-select-arrow::before {
  left: 66px;
  transform: rotate(-45deg);
}
.open-option .item-select-arrow::after {
  left: 60px;
  transform: rotate(45deg);
}
.form-item-submit-button {
  font: var(--text-font);
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  padding: 18px 20px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  background-color: #323232;
  transition: all 0.3s;
}
.form-item-submit-button:hover {
  background-color: var(--colour-highlight);
}
/* About Form*/
.about-wrapper {
  padding: 110px 0;
  padding-top: 200px;
  display: flex;
  background: whitesmoke;
}
.about-images {
  margin: 0 9.3%;
}
.about-content {
  margin: 0 9.3%;
}
.about-image-background {
  border-radius: 10px;
}
.about-image-foreground {
  position: absolute;
  left: 200px;
  bottom: -528px;
}
.about-heading {
  font: var(--heading-font);
  font-size: 45px;
  color: #000;
  margin: 10px 0;
  margin-left: -40px;
}
.about-caption {
  margin: 20px 0;
  margin-left: -40px;
  width: 465px;
}
.about-signature {
  margin: 20px 0;
  margin-left: -40px;
}
.featured-wrapper {
  padding: 110px 110px;
}
.featured-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.featured-header-heading {
  font: var(--heading-font);
  color: #000;
  letter-spacing: 0;
  margin: 0 0 20px;
}
.featured-header-caption {
  width: 650px;
  text-align: center;
  margin: 10px 0 60px;
  opacity: 0.8;
}
.featured-content {
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
}
.featured-item-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.featured-order-button {
  position: absolute;
  opacity: 0;
  padding: 10px 20px;
  font: var(--text-font);
  font-weight: 500;
  background: var(--colour-highlight);
  color: #fff;
  display: flex;
  left: 130px;
  bottom: 240px;
  text-transform: uppercase;
  transition: all 0.3s;
  box-shadow: 0px 33px 26px 38px rgba(0, 0, 0, 0.1);
}

.featured-order-button:hover {
  background: #323232;
}
.featured-item-name {
  color: #151515;
  font: var(--heading-font);
  font-size: 26px;
  font-weight: 300;
  line-height: 36px;
  text-decoration: none;
  margin: 15px 0 10px;
  letter-spacing: 0;
}
.featured-item-name:hover {
  color: var(--colour-highlight);
}
.featured-item-figure {
  padding: 0;
  margin: 0;
}
.featured-item-price {
  font: var(--text-font);
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: var(--colour-highlight);
  margin: 0 0 25px;
  letter-spacing: 0.05em;
}
.featured-content-item {
  padding: 0 10px;
  transition: all 5s;
  position: relative;
}
.featured-content-item:hover .featured-order-button {
  opacity: 1;
  cursor: pointer;
  transform: translate(0%, 30%);
}
@media screen and (max-width: 1280px) {
  .cta-form-wrapper,
  .about-images {
    margin: 0px 4%;
  }
  .about-image-foreground {
    position: absolute;
    left: 100px;
  }
  .form-item-heading {
    width: 150px;
  }
  .form-item-submit-button {
    padding: 20px;
    margin-left: 25px;
  }
  .about-content {
    margin: 0 16%;
  }
}
@media screen and (max-width: 1024px) {
  .hero-content {
    padding: 550px 0 30px;
  }
  .hero-heading {
    font-size: 32px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 0.01em;
  }
  .cta-form-wrapper,
  .about-images {
    margin: 0px 6%;
  }
  .cta-form-items {
    padding: 30px 20px;
  }
  .form-item-heading {
    width: 130px;
  }
  .form-item-input {
    width: 140px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
  }
  .form-item-submit-button {
    margin-left: 20px;
  }
  .about-image-background {
    width: 420px;
  }
  .about-content {
    margin: 0;
  }

  .about-image-foreground {
    left: 100px;
    bottom: -485px;
  }
  .about-caption {
    margin: 10px 0;
    margin-left: -40px;
    width: 455px;
  }
  .about-heading {
    font-size: 28px;
    line-height: 42px;
    margin: 0px -40px 10px;
  }
  .featured-item-image {
    width: 290px;
  }
  .featured-header-heading {
    font-size: 28px;
    line-height: 42px;
  }
}
@media screen and (max-width: 786px) {
  /* Hero Section*/
  .hero-background {
    height: 300px;
    width: 100vw;
  }
  .hero-content {
    margin-top: 50px;
    padding: 50px 0 20px;
  }
  .hero-heading {
    font-size: 32px;
    line-height: 48px;
    margin: 0;
  }
  .hero-caption {
    width: 550px;
  }
  /* CTA Form*/
  .cta-form-wrapper {
    transform: translateY(-10%);
  }
  .cta-form-items {
    flex-direction: column;
  }
}
@media screen and (max-width: 420px) {
  /* Hero Section*/
  .hero-heading {
    font-size: 32px;
    line-height: 30px;
  }
  .hero-caption {
    width: 380px;
  }
  /* CTA Form*/
  .cta-form-wrapper {
    margin: 0 15px;
    transform: translateY(-8%);
  }
  .cta-form-items {
    padding: 20px 10px;
    box-shadow: 0px 20px 20px -6px rgba(0, 0, 0, 0.2);
  }
  .form-item-divider-line {
    display: none;
  }
  .form-item-heading {
    padding-top: 0px;
    width: 360px;
  }
  .form-item-input {
    margin: 5px 0 20px;
    width: 100%;
    border-bottom: 1px solid gray;
  }
  .form-item-select {
    border-bottom: 1px solid gray;
    width: 100%;
  }
  .form-item-submit-button {
    margin-top: 20px;
    margin-left: -180px;
  }
  /* About Section*/
  .about-wrapper {
    padding-top: 140%;
    flex-direction: column;
    padding-bottom: 50px;
  }
  .about-wrapper > div {
    margin-left: 15px;
    margin-right: 15px;
  }
  .about-image-background {
    width: 100%;
  }
  .about-image-foreground {
    position: absolute;
    left: 60px;
    top: 854px;
    width: 70%;
  }
  .about-heading {
    font-size: 28px;
    line-height: 1.5;
    margin: 40px 0 30px;
  }
  .about-signature {
    margin: 15px 0;
  }
  .about-caption {
    margin: 15px 0;
    width: 380px;
  }
  .featured-wrapper {
    padding: 50px 15px;
  }
  .featured-header-heading {
    font-size: 25px;
  }
  .featured-header-caption {
    width: auto;
  }
  .featured-content {
    flex-direction: column;
    padding: 0;
  }
  .featured-content-item {
    padding: 0;
  }
  .featured-item-image {
    width: 380px;
  }
}
