/* Imports */
@import url("//fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700,800,900,900i%7CPT+Serif:400,700");
/*Root Declrations*/
:root {
  --colour-highlight: #41a451;
  --heading-font: 700 45px/54px pt serif, serif;
  --text-color: rgba(21, 21, 21, 0.8);
  --text-font: 300 15px/25px poppins, sans-serif;
}
::selection {
  background: var(--colour-highlight);
  color: #fff;
}

/* Genral CSS*/
body {
  background: #fff;
  color: var(--text-color);
  font: var(--text-font);
  letter-spacing: -0.03em;
  margin: 0;
  padding: 0;
}
header {
  background: #323232;
  border-bottom-color: #444141;
  position: fixed;
  top: 0;
  transition: all 0.3s;
  width: 100%;
  z-index: 99;
}
.header-transparent {
  background: rgba(255, 255, 255, 0.11);
  padding: 15px 0;
}
nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
.menu-toggler {
  display: none;
}
.brand-logo {
  height: 57px;
}
.navigation-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
}
.navigation-link {
  color: white;
  font-weight: 500;
  line-height: 18px;
  margin: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
}
.active-navigation-link,
.navigation-link:hover {
  color: var(--colour-highlight);
}
.book-now-btn {
  border: none;
  box-shadow: 0 0 15px rgba(21, 21, 21, 0.15);
  border-color: #fff;
  background: #fff;
  font: var(--text-font);
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  outline: none;
  padding: 9px 25px;
  text-transform: uppercase;
  transition: 250ms all ease-in-out;
}
.book-now-btn:hover {
  background-color: #151515;
  border: none;
  cursor: pointer;
  color: white;
  outline: none;
}

@media screen and (max-width: 786px) {
  .header-transparent {
    background: #444141;
    padding: 0;
  }
  nav {
    flex-direction: column;
    justify-content: flex-start;
  }
  .menu-toggler {
    color: white;
    display: block;
    font-size: 50px;
    left: 10px;
    position: absolute;
    text-decoration: none;
    top: 25px;
  }
  .brand-logo {
    float: left;
    height: 40px;
    margin-left: -70vw;
    text-align: left;
  }
  .navigation-links {
    display: none;
    flex-direction: column;
  }
  .book-now-btn {
    display: none;
  }
}
@media screen and (max-width: 411px) {
  .menu-toggler {
    top: 20px;
  }
  .brand-logo {
    margin-left: -200px;
  }
}
